{% extends 'learning_logs/base.html' %}
{% block content %}
    <h2>{{ topic.text }}</h2>
    <p><a href="{% url 'learning_logs:new_entry' topic.id %}">New Entry</a></p>
    <ul>
        {% for entry in entries %}
            <li>
                <p>{{ entry.date_added|date:'M d, Y H:i' }} <a href="{% url 'learning_logs:edit_entry' entry.id %}">edit</a></p>
                <div style="text-indent: 25px;"><i>{{ entry.text }}</i></div>
            </li>
        {% empty %}
            No entries have been added yet!
        {% endfor %}
    </ul>
{% endblock content %}
